
{{#if badRequest}}
<div class="bad-request">
	<i class="fa fa-exclamation-triangle"></i>
	<p>Oops! The file or folder you requested does not exist.</p>
	<p><a class="button primary" href="{{path}}">Go to the home folder</a></p>
</div>
{{else}}
<div class="toolbar">
	<div class="breadcrumbs">
		{{#each breadcrumbs}}
			<a href="{{../path}}/f{{this.path}}">{{this.name}}</a>
			{{#if this.last}}
			{{else}}
				<i class="fa fa-angle-right"></i>
			{{/if}}
		{{/each}}
	</div>
	{{#ifCond user.permission '<=' 1}}
	<div class="tool-container">
		<div id="uploadButton" class="tool-button">
			<span class="icon fa-stack">
				<i class="fa fa-stack-2x fa-fw fa-upload"></i>
			</span>
			<p>Upload</p>
		</div>
		<div id="createFolderPopupButton" class="tool-button">
			<span class="icon fa-stack">
				<i class="fa fa-stack-2x fa-fw fa-folder"></i>
			</span>
			<p>Create Folder</p>
		</div>
		<div id="editPopupButton" class="tool-button disabled">
			<span class="icon fa-stack">
				<i class="fa fa-stack-2x fa-fw fa-pencil"></i>
			</span>
			<p>Edit</p>
		</div>
		<div id="moveItemsPopupButton" class="tool-button disabled">
			<span class="icon fa-stack">
				<i class="fa fa-stack-2x fa-fw fa-file-o"></i>
				<i class="fa fa-stack-1x fa-fw fa-arrow-circle-right"></i>
			</span>
			<p>Move</p>
		</div>
		<div id="deletePopupButton" class="tool-button disabled">
			<span class="icon fa-stack">
				<i class="fa fa-stack-2x fa-fw fa-trash-o"></i>
			</span>
			<p>Delete</p>
		</div>
	</div>
	{{/ifCond}}
</div>
<div class="break"></div>
<div id="fileTableContainer">
	{{> fileTable }}
</div>
{{/if}}

<script type="text/javascript" src="/expressdrive/files.js"></script>