{{#if files}}
<table class="file-table">
	<thead>
		<tr>
			<th class="shrink text-center select-all-td"><i class="fa fa-circle-o"></i></th>
			<th class="indent">Filename</th>
			<th class="shrink">Created By</th>
		</tr>
	</thead>
	<tbody>
		{{#each files}}
		<tr class="file-element" data-uri="{{this.uri}}">
			<td class="select-td"><i class="fa fa-circle-o fa-fw"></i></td>
			<td class="description-td">
				{{#ifCond this.type "==" "file"}}
					 <i class="fa fa-file-text-o fa-fw"></i>
				{{else}}
					 <i class="fa fa-folder-o fa-fw"></i>
				{{/ifCond}}
				<div class="text">
					<p><a href="{{../path}}/f{{this.uri}}" {{#ifCond this.type "==" "file"}} target="_blank" {{/ifCond}}>
							{{this.filename}}
					</a></p>
					<p class="sub">{{this.time}}</p>
				</div>
			</td>
			<td>{{this.created_by}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<div class="folder-stats">
	<p>{{stats}}</p>
</div>
{{else}}
<div class="no-files">
	<p>There are currently no files here. Click the upload button ( <i class="fa fa-upload"></i> ) above to add some.</p>
</div>
{{/if}}