<div class="file-page">
	<div class="top-bar">
		<div class="inner">
			<div class="container">
				<img class="logo" src="http://thunderbayurc.com/images/logo.png">
				<p>URC Thunder Bay</p>
			</div>
			<div class="container">
				<a class="sign-out" href="{{path}}/logout">{{user.username}} <i class="fa fa-sign-out"></i></a>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="inner">
			<div class="content">
				{{#if badRequest}}
				<div class="bad-request">
					<i class="fa fa-exclamation-triangle"></i>
					<p>Oops! The file or folder you requested does not exist.</p>
					<p><a class="button primary" href="{{path}}">Go to the home folder</a></p>
				</div>
				{{else}}
				<div class="toolbar">
					<div class="breadcrumbs">
						{{#each breadcrumbs}}
							<a href="{{../path}}/f{{this.path}}">{{this.name}}</a>
							{{#if this.last}}
							{{else}}
								<i class="fa fa-angle-right"></i>
							{{/if}}
						{{/each}}
					</div>
					<div class="tool-container">
						<i id="uploadButton" class="fa fa-upload fa-2x fa-fw"></i>
						<span id="createFolderPopupButton" class="fa-stack">
							<i class="fa fa-folder-o fa-stack-2x fa-fw"></i>
							<i class="fa fa-plus-circle fa-stack-1x"></i>
						</span>
						<i id="editPopupButton" class="fa fa-pencil fa-2x fa-fw disabled"></i>
						<i id="deletePopupButton" class="fa fa-trash-o fa-2x fa-fw disabled"></i>
						<span id="createFolderPopupButton" class="fa-stack disabled">
							<i class="fa fa-file-o fa-stack-2x fa-fw"></i>
							<i class="fa fa-arrow-circle-right fa-stack-1x"></i>
						</span>
					</div>
				</div>
				<div class="break"></div>
				<div id="fileTableContainer">
					{{> fileTable }}
				</div>
				{{/if}}
			</div>
		</div>
	</div>
	<div id="shade" class="shade" data-close-popup=true>
		{{> uploadPopup }}
		{{> createFolderPopup }}
		{{> deletePopup }}
		{{> editPopup }}
	</div>
</div>

<script type="text/javascript" src="/expressdrive/files.js"></script>